{% extends 'base-template.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="banner">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2 align-items-center">
                <div class="col">
                    <h1><span>Brand new</span> way <br> of sending</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Dolorem eius laborum minima officiis, soluta tenetur.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Dolorem eius laborum minima officiis, soluta tenetur.
                    </p>
                    <a href="#" class="btn btn-lg btn-primary mt-2">Learn How</a>
                    <div class="d-flex gap-3 mt-4">
                        <a href="" class="social">
                            <span><i class="bi-facebook"></i></span>
                        </a>
                        <a href="" class="social">
                            <span><i class="bi-linkedin"></i></span>
                        </a>
                        <a href="" class="social">
                            <span><i class="bi-whatsapp"></i></span>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <img src="{{ asset("images/digitalisation.png") }}" alt="Entreprise de digitale" srcset="" width="100%" class="img-move">
                </div>
            </div>
            <div class="contact d-flex gap-3">
                <a href="" class="number-phone">
                    <span class=""><i class="bi-telephone"></i></span>
                    <b>+261 34 00 000 00</b>
                </a>
                <a href="" class="number-phone">
                    <span class=""><i class="bi-telephone"></i></span>
                    <b>+261 34 00 000 00</b>
                </a>
            </div>
        </div>
    </section>
{% endblock %}
