{% extends 'base-template.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="banner">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col">
                    <div class="chapo">Best Cyber Security Services</div>
                    <h1>We Provide <span>Advance Cyber</span></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, unde. Lorem ipsum dolor.</p>
                    <div class="link">
                        <a href="" class="btn btn-primary">Start Free Trial</a>
                        <a href="" class="btn bg-transparent text-white">
                            <i class="bi bi-play-circle"></i>
                            Watch Intro
                        </a>
                    </div>
                </div>
                <div class="col">
                    <img src="{{ asset("/images/desktop.png") }}" alt="desktop" width="100%">
                </div>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container-fluid">
            <div class="chapo">High Level Security Services</div>
            <h2>We offer the best Cyber security <span>services</span></h2>
            <div class="row row-cols-1 row-cols-lg-4">
                <div class="col">
                    <div class="item">

                    </div>
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>
    </section>
{% endblock %}
