:root{
    --color-primary: #15186c;
    --color-secondary: #ffc107;
    --color-dark: #212529;
    --color-dark-2: #1c1f23;
}

@font-face {
    font-face-name: ff-1;
    src: url('assets/styles/fonts/LexendDeca-VariableFont_wght.ttf');
}

/* GLOBALE */

body h1{
    font-size: 65px;
    font-weight: 700;
    font-family: ff-1, Roboto, sans-serif;
}

body p{
    font-size: 18px;
    font-family: ff-1, Roboto, sans-serif;
}

body a{
    text-decoration: none;
}

body .banner .btn{
    border-radius: 0 !important;
    padding: 12px 30px;
}

body .btn-primary {
    color: var(--color-dark) !important;
    background-color: var(--color-secondary) !important;
    border: none;
}

body .bg-dark-2 {
    background-color: var(--color-dark-2) !important;
}

@media screen and (min-width: 981px){
    section.section-content{
        padding: 80px 0;
    }
    footer{
        padding: 60px 0 20px 0;
    }
}

@media screen and (max-width: 980px){
    section.section-content{
        padding: 60px 0;
    }
}




/* Menu de navigation */
.navbar{
    padding: 20px 0;
    transition: all 0.4s;
}
.navbar.scrolled{
    padding: 10px 0;
    transition: all 0.4s;
    background-color: var(--color-dark-2);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 5px rgba(0,0,0, 0.15);
}
.navbar:hover{
    background-color: var(--color-dark-2);
}
.navbar:hover .nav-item:last-child .nav-link{
    background-color: var(--color-secondary);
    color: var(--color-dark-2);
}
/*.navbar-nav .nav-item .nav-link{*/
/*    color: #fff !important;*/
/*}*/

.navbar-nav .nav-item .nav-link.active, .navbar-nav .nav-item .nav-link{
    position: relative;
}
.navbar-nav .nav-item .nav-link::before{
    content: "";
    width: 0;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.4s;
}
.navbar-nav .nav-item:not(:last-child) .nav-link:hover::before{
    width: 100%;
}

.navbar.scrolled .nav-item:last-child .nav-link{
    background-color: var(--color-secondary);
    color: var(--color-dark);
}
.nav-item:last-child .nav-link{
    background: #ffffff0f;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-nav .nav-item .nav-link.active::before{
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--color-secondary);
    position: absolute;
    bottom: 0;
    transition: all 0.4s;
}

/* Banner */
.banner::before{
    content: "";
    width: 100%;
    height: 100%;
    background: url('../images/bg-dg.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.1);
}

.banner{
    position: relative;
    color: #fff !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.banner h1>span{
    text-decoration: underline;
    text-decoration-color: var(--color-secondary);
}

.banner .number-phone>span, .banner .social>span{
    width: 30px;
    height: 30px;
    background-color: var(--color-dark-2);
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner .number-phone>span{
    background-color: var(--color-secondary);
}

.banner .number-phone{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.banner .number-phone span>i{
    color: var(--color-dark) !important;
}

.banner .contact{
    writing-mode: sideways-rl;
    position: absolute;
    height: max-content;
    top: calc(50% - 158px);
    right: 20px;
}


.banner .social>span{
    width: 50px;
    height: 50px;
}


.banner .social>span>i{
    font-size: 20px;
    color: #fff;
}

.banner img.img-move{

    animation: 2.5s ease-in-out infinite zoom;
}


@keyframes zoom {
    0%{
        scale: 1;
        transition: all 0.4s;
    }
    50%{
        scale: 1.1;
        transition: all 0.4s;
    }
    75%{
        scale: 1;
        transition: all 0.4s;
    }
}



/* Page contact */
.hero{
    height: 400px;
    /*background-color: var(--color-primary);*/
    display: flex;
    align-items: center;
    position: relative;
}
.hero::before{
    content: "";
    width: 100%;
    height: 100%;
    background: url(../images/bg-dg.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.1);
}
.hero h1{
    color: #fff;
}
#page-contact .form-contact input.form-control, #page-contact textarea, .form-auth input.form-control{
    border-radius: 0 !important;
}
#page-contact .form-contact .btn, .form-auth .btn{
    border-radius: 0 !important;
}

.form-auth input.form-control {
    background-color: transparent;
}
.form-auth .form-floating>*, .form-auth .checkbox>*{
    color: #fff;
}
.form-auth .form-floating>input.form-control:focus ~ label{
    color: #fff;
}
.form-auth .form-floating>input.form-control:focus ~ label::after{
    background-color: transparent;
}

