:root{
    --color-primary: #15186c;
    --color-secondary: #ffc107;
    --color-dark: #212529;
    --color-dark-2: #1c1f23;
    --color-text: #121734;
}

@font-face {
    font-face-name: ff-1;
    src: url('assets/styles/fonts/LexendDeca-VariableFont_wght.ttf');
}

/* GLOBALE */
body{
    overflow-x: hidden !important;
}
body h1{
    font-size: 65px;
    font-weight: 700;
    font-family: ff-1, Roboto, sans-serif;
}
body h2{
    font-size: 45px;
    font-weight: 800;
    font-family: ff-1, Roboto, sans-serif;
}

body h3{
    font-size: 22px;
    font-weight: 600;
    font-family: ff-1, Roboto, sans-serif;
}

body p, div, chapo{
    font-size: 18px;
    font-family: ff-1, Roboto, sans-serif;
}

body a{
    text-decoration: none;
    color: var(--color-secondary);
}

body .banner .btn, body .section .btn{
    border-radius: 0 !important;
    padding: 12px 30px;
}

body .btn-primary {
    color: #fff !important;
    background-color: var(--color-secondary) !important;
    border: none;
}

body .bg-dark-2 {
    background-color: var(--color-dark-2) !important;
}
body .text-color{
    color: var(--color-text) !important;
}

footer{
    background-color: var(--color-dark);
}

@media screen and (min-width: 981px){
    section.section-content{
        padding: 80px 0;
    }
    footer{
        padding: 60px 0 20px 0;
    }
}

@media screen and (max-width: 980px){
    section.section-content{
        padding: 60px 0;
    }
    footer{
        padding: 40px 0 20px 0;
    }
}




/* TopBar */
.topbar{
    padding: 10px 0;
    font-weight: 600;
    background-color: var(--color-secondary);
    color: #fff;
}
section.section.activity{
    background-color: #f7f7f7;
    padding: 40px 0;
}
.activity .list-slick .item span{
    background-color: var(--color-secondary);
    width: 8px;
    height: 8px;
    margin: 0 15px;
}
.activity .list-slick .item{
    color: var(--color-text);
    font-size: 22px;
    font-weight: 600;
}
.list-slick .item{
    display: flex !important;
    align-items: center;
}
.list-slick .item span{
    content: ".";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 100%;
    margin: 0 8px;
}


/* Menu de navigation */

.navbar{
    padding: 20px 0;
    transition: all 0.4s;
}
.navbar button.navbar-toggler{
    padding: 6px;
    border-radius: 0;
    color: #fff;
    background-color: var(--color-secondary);
    border-color: transparent;
}
.navbar button.navbar-toggler .navbar-toggler-icon{
    width: 20px;
    height: 20px;
}

.navbar.scrolled{
    padding: 10px 0;
    transition: all 0.4s;
    background-color: #fff;
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 5px rgba(0,0,0, 0.15);
}
.navbar:hover{
    background-color: #fff;
}
.navbar:hover .nav-item:last-child .nav-link{
    background-color: var(--color-secondary);
    color: var(--color-dark-2);
}
/*.navbar-nav .nav-item .nav-link{*/
/*    color: #fff !important;*/
/*}*/

.navbar-nav .nav-item .nav-link.active, .navbar-nav .nav-item .nav-link{
    position: relative;
}
.navbar-nav .nav-item .nav-link::before{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.4s;
}
.navbar-nav .nav-item:not(:last-child) .nav-link:hover::before{
    width: 100%;
}

.navbar.scrolled .nav-item:last-child .nav-link{
    background-color: var(--color-secondary);
    color: var(--color-dark);
}
.nav-item:last-child .nav-link{
    background-color: var(--color-secondary);
    color: #fff;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-nav .nav-item .nav-link.active::before{
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--color-secondary);
    position: absolute;
    bottom: 0;
    transition: all 0.4s;
}

.navbar .btn-login{
    border-radius: 0;
}

/* Banner */
.banner::before{
    content: "";
    width: 100%;
    height: 100%;
    background: url('../images/save/bg-dg.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: grayscale(1) blur(3px);
}

.banner{
    position: relative;
    color: var(--color-text) !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.banner>.container>.row>.col:first-child{
    padding-top: 124px;
}

.banner h1>span{
    text-decoration: underline;
    text-decoration-color: var(--color-secondary);
}

.banner .number-phone>span, .banner .social>span{
    width: 30px;
    height: 30px;
    background-color: #ffffff75;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner .number-phone>span{
    background-color: var(--color-secondary);
}

.banner .number-phone{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-text);
}

.banner .number-phone span>i{
    color: #fff !important;
}

.banner .contact{
    writing-mode: sideways-rl;
    position: absolute;
    height: max-content;
    top: calc(50% - 158px);
    right: 20px;
}


.banner .social>span{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}


.banner .social>span>i{
    font-size: 20px;
    color: var(--color-text);
}

.banner img.img-move{

    animation: 2.5s ease-in-out infinite zoom;
}


@keyframes zoom {
    0%{
        scale: 1;
        transition: all 0.4s;
    }
    50%{
        scale: 1.1;
        transition: all 0.4s;
    }
    75%{
        scale: 1;
        transition: all 0.4s;
    }
}
/**/
section.section.partenariat{
    padding-top: 60px;
    padding-bottom: 60px;
}
.partenariat .list-slick .item{
    padding-right: 20px;
}


/* Page contact */
.hero{
    height: 400px;
    /*background-color: var(--color-primary);*/
    display: flex;
    align-items: center;
    position: relative;
}
.hero::before{
    content: "";
    width: 100%;
    height: 100%;
    background: url(../images/save/bg-dg.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: grayscale(1) blur(2px);
}
.hero h1{
    color: var(--color-text);
}
#page-contact .form-contact input.form-control, #page-contact textarea, .form-auth input.form-control{
    border-radius: 0 !important;
}
#page-contact .form-contact .btn, .form-auth .btn{
    border-radius: 0 !important;
}
#page-contact .form-contact textarea{
    height: 100px;
}

.form-auth input.form-control {
    background-color: transparent;
}
.form-auth .form-floating>*, .form-auth .checkbox>*{
    color: #fff;
}
.form-auth .form-floating>input.form-control:focus ~ label{
    color: #fff;
}
.form-auth .form-floating>input.form-control:focus ~ label::after{
    background-color: transparent;
}

/***/
.chapo{
    color: var(--color-secondary) !important;
    font-weight: 400;
}
.cta{
    text-align: center;
}
.cta .follower{
    margin-top: 60px;
}
.cta .follower .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid var(--color-secondary);
    border-radius: 100%;
    margin: 0 auto 15px;
}
.cta .follower .icon i{
    font-size: 28px;
    color: var(--color-secondary);
}
.cta .follower h3{
    color: var(--color-secondary);
}
.cta .follower a:last-child{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}


/****/

@media screen and (min-width: 981px){
    section.section{
        padding: 80px 0;
    }
    .toggle-mobile .btn-login{
        display: none;
    }
    .cta .description{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 980px) {
    section.section{
        padding: 60px 0;
    }
    .navbar-nav .nav-item:last-child{
        display: none;
    }
    .toggle-mobile{
        display: inline-flex;
        gap: 5px;
    }
    .toggle-mobile .btn-login{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        padding: 8px;
    }
    .toggle-mobile .btn-login>i{
        font-size: 18px;
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    section.section{
        padding: 40px 0;
    }
}
